@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
} 

.cabecalho {
    font-size: 1.8rem;
    background-color: rgb(6, 111, 143);
}

.cabecalho ul {
    height: 40px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 50%;
    margin: 0 auto;
}

.cabecalho a, label {
    display: inline-flex;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600; 
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho a:hover {
    margin: 5px;
}

.menu{
    float: right;
}

.menu li {
    list-style: none;
    list-style-type: none;
    padding: 5px;
    margin-top: -8px;
    display: inline-flex;
    color: #fff;
    letter-spacing: 1px;
}